<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li{% if 'dashboard' == activePage %} class="active"{% endif %}>
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li{% if 'sites' == activePage %} class="active"{% endif %}>
                <a href="/sites">
                    <i class="fa fa-sitemap"></i> <span>All Sites</span>
                </a>
            </li>
            <li class="header">TOOLS</li>
            <li><a href="https://192.168.33.11:8081" target="_blank"><i class="fa fa-database"></i> <span>phpMyAdmin</span></a></li>
            <li><a href="http://192.168.33.11:1080" target="_blank"><i class="fa fa-envelope"></i> <span>Mailcatcher</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>